/*
Theme Name: Signpost
Theme URI: 
Description: A white-label theme constructed for the Signposting Tool Project.
Version: 1.1
Author: Graham Armfield - edits by Francis Barton
Tags: one column, widgets
Text Domain: signpost
*/
/* replace the below with a proper reset css file? */
/* Reset default browser CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
fieldset, form, label, legend,
section, article, aside,
table, caption, tbody, tfoot, thead, tr, th, td {
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

a.access:link, a.access:visited, a.access:hover {
  border: none;
  padding: 0.5em;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 1em !important;
  z-index: 10;
  text-decoration: underline;
}

a.access:active, a.access:focus {
  border: #006699 1px solid;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: visible;
  width: auto;
  height: auto;
  margin: auto;
  background-color: #E7FF44;
}

/* Structural stuff */
#banner-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

#banner-inner:focus {
  outline: none;
}

#banner-cookie {
  width: 96%;
  padding: 0 2%;
}

#banner-cookie p {
  font-size: 0.8rem;
}

.js #cookie-accept-nojs,
.non-js #cookie-accept-js {
  display: none;
}

#banner-wrap {
  width: 96%;
  display: table;
  padding: 20px 2%;
}

#banner1 {
  display: table-cell;
  width: 40%;
}

#logo {
  max-width: 300px;
}

#banner2 {
  display: table-cell;
  width: 60%;
  vertical-align: bottom;
  text-align: right;
  padding: 0 2%;
}

#langlink,
#searchbox {
  display: inline-block;
  margin-top: 10px;
}

#searchform input {
  display: inline-block;
}

#searchform #s {
  width: 50%;
}

#searchform #searchsubmit {
  width: 5em;
}

#middle {
  text-align: left;
}

#middle-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

/* content eg search results display */
#content {
  width: 96%;
  margin: 0;
  padding: 0 2%;
  line-height: 1.5;
}

#content ul li {
  list-style-type: square;
  margin-left: 20px;
}

#content ol li {
  list-style-type: decimal;
  margin-left: 20px;
}

#content ol li li {
  list-style-type: lower-roman;
  margin-left: 20px;
}

#content ol li ol {
  margin: 0;
}

.map-block {
  position: relative;
  width: 50%;
  margin-left: 5%;
  float: right;
  outline: 1px solid #000;
  overflow: hidden;
}

.page-template-review-internet-access #results .map-block,
.page-template-review-course #results .map-block {
  margin-left: 0;
  float: none;
  clear: both;
}

.initially-hidden {
  display: none;
}

.map {
  height: 250px;
}

.non-js .show-map-here,
.non-js .initially-hidden {
  display: none;
}

/* Social bookmarking */
#content .soc-book {
  margin: 2em 0;
}

.home #content .soc-book {
  margin: 0 0 2em 0;
}

#content .soc-book ul,
#content .soc-book p {
  margin: 0;
  padding: 0;
}

#content .soc-book li {
  margin: 0 5px 0 0;
  padding: 0;
  list-style-type: none;
  /* float:left; */
  display: inline-block;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

#content .soc-book li,
#content .soc-book li:nth-child(4n+2),
#content .soc-book li:nth-child(4n+3),
#content .soc-book li:nth-child(4n+4) {
  background-image: none;
}

#content .soc-book a img {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  padding: 0;
  background: url(images/soc-icons.png) no-repeat 3px 3px;
}

#content .soc-book a:link, #content .soc-book a:visited {
  display: block;
  background: transparent;
  background-image: none;
}

#content .soc-book a:hover, #content .soc-book a:active, #content .soc-book a:focus {
  background: yellow;
}

#content .soc-book a.facebook img {
  background-position: 3px -65px;
}

#content .soc-book a.twitter img {
  background-position: 3px -439px;
}

#content .soc-book a.linkedin img {
  background-position: 3px -133px;
}

#content .soc-book a.delicious img {
  background-position: 3px 3px;
}

#content .soc-book a.digg img {
  background-position: 3px -31px;
}

#content .soc-book a.reddit img {
  background-position: 3px -269px;
}

#content .soc-book a.posterous img {
  background-position: 3px -235px;
}

#content .soc-book a.stumbleupon img {
  background-position: 3px -371px;
}

@media screen and (max-width: 600px) {
  #content .contact ul li.short,
#content .contact ul li.short.clear {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
  }
}
/* footer */
#bottom {
  text-align: left;
}

#bottom-inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
}

#footer {
  display: table;
  width: 96%;
  padding: 0 2%;
}

#footernav {
  padding: 0;
}

#footernav-cont, #footer-logos {
  padding: 0 2% 0 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
  width: 50%;
}

#footer-logos {
  width: 45%;
  padding: 0;
}

#footer-credits {
  font-size: 0.8rem;
}

#footer-logos h2 {
  font-size: 1.1rem;
}

#footernav li {
  display: inline-block;
  padding: 10px 15px 10px 0;
}

.partners {
  margin: 0;
  padding: 0;
}

.partners li {
  display: inline-block;
  margin: 5px 2px;
}

.partners li img {
  max-width: 100px;
  max-height: 60px;
}

@media screen and (max-width: 700px) {
  #footer {
    display: block;
  }

  #footernav-cont, #footer-logos {
    display: block;
    width: 100%;
  }

  .map-block {
    width: 100%;
    margin-left: 0;
    float: none;
    clear: both;
  }
}
@media screen and (max-width: 600px) {
  #banner-wrap,
#banner1,
#banner2 {
    display: block;
    width: 100%;
  }

  #banner2 {
    text-align: left;
    margin-top: 1rem;
  }
}
body {
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  clear: none;
  font-weight: bold;
  color: #404040;
  word-wrap: break-word;
}

ol, ul {
  list-style: none;
}

blockquote {
  quotes: none;
  margin: 1em 0;
  padding: 2px 10px 2px 25px;
  border-left: 3px solid #ddd;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

/* YUCK!!!! */
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
  margin: 0 0 20px 0;
}

h2 {
  font-size: 1.6rem;
  margin: 20px 0 10px 0;
}

h3 {
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
}

h4 {
  font-size: 1.3rem;
  margin: 10px 0 5px 0;
}

h5 {
  font-size: 1.2rem;
  margin: 10px 0 0 0;
}

h6 {
  font-size: 1rem;
  margin: 10px 0 0 0;
}

p {
  margin: 1rem 0;
}

/* =============================================================================
   Images
   ========================================================================== */
.alignleft, .float-left {
  float: left;
  margin: 2px 10px 0 0;
}

.alignright, .float-right {
  float: right;
  margin: 2px 0 0 10px;
}

.alignnone {
  display: block;
  clear: both;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 5px auto;
}

img {
  margin: 0;
  height: auto;
  max-width: 100%;
}

a:link {
  text-decoration: underline;
}

a img {
  border: none;
}

/* Navigation area */
#nav-strip {
  position: relative;
  background: #2e2e2e;
}

#nav-strip h2 {
  position: absolute;
  left: -9999px;
}

#nav-strip-inner {
  position: relative;
  text-align: left;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
  z-index: 40;
}

#nav-strip-inner .inner {
  padding: 0 2%;
}

#shownav,
#hidenav {
  display: none;
  margin: 0;
  padding: 1em;
  width: auto;
}

#shownav:link, #shownav:visited,
#hidenav:link, #hidenav:visited {
  background: #2e2e2e;
  /* Candidate */
  color: #fff;
  /* Candidate */
}

#shownav:hover, #shownav:active, #shownav:focus,
#hidenav:hover, #hidenav:active, #hidenav:focus {
  background: #fff;
  /* Candidate */
  color: #90136f;
  /* Candidate */
}

#nav {
  margin: 0;
  padding: 0;
  display: table;
}

#nav:focus {
  outline: none;
}

#nav > li {
  display: table-cell;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: left;
  border-left: 1px solid #eee;
}

#nav > li:first-child {
  border-left: none;
}

#nav li a:link,
#nav li a:visited {
  display: block;
  background: #000;
  /* candidate */
  color: #fff;
  /* candidate */
  text-decoration: none;
  padding: 1em 0.8em;
  font-size: 1.2rem;
  font-weight: bold;
}

#nav li.current-menu-item a:link,
#nav li.current-menu-item a:visited,
#nav li.current-menu-ancestor a:link,
#nav li.current-menu-ancestor a:visited {
  background: #000;
  /* candidate */
  color: #F39120;
  /* candidate */
  outline: none;
}

#nav li.current-menu-item a:hover,
#nav li.current-menu-item a:focus,
#nav li a:hover,
#nav li a:focus,
#nav > li.hover > a:link,
#nav > li.hover > a:visited {
  background: #000;
  /* candidate */
  color: #F39120;
  /* candidate */
  outline: none;
}

#nav ul.children,
#nav ul.sub-menu {
  position: absolute;
  font-size: 95%;
  z-index: 50;
  padding: 0;
  margin-top: 0;
  text-align: left;
}

#nav ul {
  position: absolute;
  top: 4em;
}

#nav ul li {
  display: block;
  width: 230px;
  float: none;
  height: auto;
  padding: 0;
  margin: 0;
  border-top: 1px solid #000;
}

#nav ul a:link,
#nav ul a:visited,
#nav li.current-menu-item ul a:link,
#nav li.current-menu-item ul a:visited,
#nav li.current-menu-ancestor ul a:link,
#nav li.current-menu-ancestor ul a:visited {
  min-height: 1em;
  border: none;
  padding: 0.5em 15px;
  margin: 0;
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  font-size: 1rem;
}

#nav ul ul {
  font-size: 1em;
}

#nav ul a:hover,
#nav ul a:active,
#nav ul a:focus,
#nav li.current-menu-item ul a:hover,
#nav li.current-menu-item ul a:active,
#nav li.current-menu-item ul a:focus,
#nav li.current-menu-ancestor ul a:hover,
#nav li.current-menu-ancestor ul a:active,
#nav li.current-menu-ancestor ul a:focus,
#nav ul .hover > a {
  background: #000;
  /* Candidate */
  color: #fff;
  /* Candidate */
  /* font-weight:bold; */
}

#nav ul ul {
  left: 100px;
  top: 0;
  /* 6px / 12px */
}

#nav ul,
#nav :hover ul ul,
#nav .hover ul ul {
  margin-left: -9999px;
}

/*#nav li:hover>ul,*/
#nav li.hover > ul,
#nav a:focus + ul,
#nav ul ul,
#nav .hover a:focus {
  margin-left: 0;
}

#nav ul a:focus {
  margin-left: 9999px;
}

@media screen and (max-width: 700px) {
  #nav {
    display: none;
    margin: 0;
  }

  #nav.active,
.js #shownav.active,
.js #hidenav.active {
    display: block;
    position: relative;
  }

  #nav > li {
    border: none;
  }

  #nav.active > li {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
  }

  #nav.active ul li {
    background: none;
  }

  #nav.active li a:link,
#nav.active li a:visited {
    position: relative;
    background: #2e2e2e;
    /* Candidate */
    min-height: 1em;
  }

  #nav.active li a:link,
#nav.active li a:visited,
#nav li.current-menu-item ul a:link,
#nav li.current-menu-item ul a:visited,
#nav li.current-menu-ancestor ul a:link,
#nav li.current-menu-ancestor ul a:visited,
#nav.active li li a:link,
#nav.active li li a:visited {
    position: relative;
    display: block;
    padding: 8px 5%;
    width: 90%;
    border: 1px solid #e7e7e8;
    /* Candidate */
    color: #90136f;
    /* Candidate */
    background: #ebeced;
    /* Candidate */
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    behavior: url(/PIE.php);
  }

  #nav.active li a:link,
#nav.active li a:visited {
    padding: 10px 2%;
    width: 96%;
  }

  #nav.active li[aria-haspopup=true] > a:after {
    content: url(imagesnav-arrow-down.png);
    position: absolute;
    top: 0.5em;
    right: 0.5em;
  }

  #nav.active li.current-menu-item[aria-haspopup=true] > a:after,
#nav.active li.current-menu-ancestor[aria-haspopup=true] > a:after {
    content: url(images/nav-arrow-down.png);
  }

  #nav.active li.current-menu-item > a:link,
#nav.active li.current-menu-item > a:visited {
    border: 1px solid #90136f;
    /* Candidate */
    outline: none;
    background: #90136f;
    /* Candidate */
    color: #fff;
    /* Candidate */
    text-decoration: none;
  }

  #nav.active li li a:link,
#nav.active li li a:visited {
    padding-left: 25px;
  }

  #nav.active li a:hover,
#nav.active li a:active,
#nav.active li a:focus,
#nav.active li li a:hover,
#nav.active li li a:active,
#nav.active li li a:focus {
    border: 1px solid #90136f;
    /* Candidate */
    outline: none;
    background: #90136f;
    /* Candidate */
    color: #fff;
    /* Candidate */
    text-decoration: none;
  }

  #nav li.hover > ul,
#nav li.hover > ul > li,
#nav a:active + ul,
#nav a:active + ul > li,
#nav a:focus + ul,
#nav a:focus + ul > li,
#nav .hover a:active,
#nav .hover a:focus {
    margin-left: 0;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
  }
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 2;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
  display: block;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 1rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Consistent box sizing and appearance
 */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  background-color: #fffaf5;
  /* Candidate */
  padding: 6px 1%;
  border: 1px solid #404040;
  /* Candidate */
  outline: none;
  width: 98%;
}

input:focus, textarea:focus, select:focus {
  background-color: #FFFDC0;
  outline: none;
}

input[type=submit],
button,
a.button {
  background: #000;
  /* Candidate */
  border: 1px solid #000;
  /* Candidate */
  color: #fff;
  /* Candidate */
  outline: none;
  padding: 6px 15px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button:hover,
button:active,
button:focus,
a.button:hover,
a.button:active,
a.button:focus {
  position: relative;
  background-color: #f3f3f3;
  /* Candidate */
  color: #90136f;
  text-decoration: none;
  border: 1px solid #90136f;
  /* Candidate */
  outline: none;
}

/* Contact Forms */
#sub-errs {
  border: 3px solid #ba0e4b;
  margin: 1em 0;
  padding: 0 10px 6px 10px;
  font-size: 90%;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.php);
  position: relative;
}

#sub-errs h2 {
  font-size: 130%;
}

#sub-errs ul, #sub-errs p {
  margin: 0;
  padding: 0;
}

#sub-errs ul li {
  list-style-type: none;
  padding: 0.6em 0 0.6em 28px;
  background: url(images/error-ind.gif) no-repeat 0 10px;
}

#content .contact input[aria-invalid=true],
#content .contact select[aria-invalid=true],
#content .contact textarea[aria-invalid=true],
ul.radio.error,
ul.checkbox.error,
ul.dob.error {
  outline: 2px solid #CC063B;
}

#content .contact {
  border: none;
  margin: 0;
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  padding: 5px 3%;
  float: none;
  clear: both;
}

#content .contact span.mand,
#content .contact ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#content .contact ul li {
  list-style-type: none;
  padding: 0;
  background: none;
  margin: 0 0 2em 0;
  clear: left;
}

#content .contact ul li li {
  margin: 0;
}

#content .contact ul li.days fieldset li {
  margin: 0 2em 0 0;
  display: inline-block;
  clear: none;
  float: none;
}

#content .contact ul li.short {
  clear: none;
  float: left;
  margin-left: 3%;
  margin-right: 0;
  width: 47%;
}

#content .contact ul li.short.clear {
  clear: both;
  float: left;
  margin-right: 3%;
  margin-left: 0;
  width: 47%;
}

#content .contact ul li.extended {
  display: none;
}

#content .contact ul.dob {
  display: table;
  width: 100%;
}

#content .contact ul.dob li {
  display: table-cell;
  padding-left: 2%;
}

#content .contact ul.dob li:first-child {
  padding-left: 0;
}

#content .contact ul.dob li.dob-d {
  width: 5em;
}

#content .contact ul.dob li.dob-y {
  width: 6em;
}

#content .contact ul li.check {
  clear: left;
  margin: 0.4em 0;
}

#content .contact ul li.check input {
  clear: left;
  float: left;
  width: 15px;
  margin-top: 7px;
  margin-right: 0;
}

#content .contact ul li.check label {
  margin-left: 1.5em;
  width: auto;
}

#content .contact ul li.submit {
  padding-top: 0.5em;
}

#content .contact label {
  display: block;
  margin: 0;
  text-align: left;
  line-height: 1.8em;
  font-weight: bold;
}

#content .contact label .text {
  width: auto;
  display: block;
  padding: 0 30px 0 0;
}

#content .contact fieldset {
  width: 100%;
  display: block;
}

#content .contact legend {
  width: 90%;
  display: block;
  padding: 0 30px 0 0;
  font-weight: bold;
}

#content .contact legend.valid,
#content .contact label.valid {
  background: transparent url(images/form-tick.png) no-repeat top right;
}

#content .contact input, .contact select, .contact textarea {
  width: 100%;
}

#content .contact li.submit input {
  width: auto;
  cursor: pointer;
}

#content .contact .clarify {
  font-size: 80%;
}

#content .contact .err-img {
  border: none;
}

#content .contact .errors,
#content .contact .fieldseterrors {
  background: #fff;
  color: #CC063B;
  font-weight: bold;
}

/* Process buttons */
form.process {
  margin: 15px 0;
}

/* Home Page forms */
#hp-forms {
  margin: 30px 0;
}

#hp-forms section {
  display: inline-block;
  width: 42%;
  vertical-align: top;
  padding: 0;
}

#hp-forms .access {
  padding-right: 4%;
}

#hp-forms .course {
  padding-left: 4%;
  border-left: 1px solid #000;
}

.hp-form {
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  padding: 5px 3%;
}

h2.form-header,
h3.form-header {
  display: inline;
  margin: 0;
  padding: 8px 3%;
  width: auto;
  font-size: 1.2rem;
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  border-bottom: 1px solid #F39120;
  /* Candidate */
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#content .hp-form ul li {
  margin-bottom: 1em;
}

#content .hp-form label {
  font-weight: bold;
}

/* filter buttons */
.courses-filter-button,
.int-access-filter-button,
#courses-filter-hide,
#int-access-filter-hide {
  margin-top: -5px;
  margin-bottom: 2px;
  float: right;
}

.non-js #courses-filter-show,
.non-js #int-access-filter-show,
.non-js #courses-filter-hide,
.non-js #int-access-filter-hide,
.js .courses-filter-button.hide,
.js .int-access-filter-button.hide,
.js #courses-filter-show,
.js #int-access-filter-show {
  display: none;
}

/* Database search results styles */
#results {
  padding: 10px 2%;
}

@-webkit-keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-moz-keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-o-keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
#results:focus {
  outline: none;
  -webkit-animation: fadeIt 2s ease-in-out;
  -moz-animation: fadeIt 2s ease-in-out;
  -o-animation: fadeIt 2s ease-in-out;
  animation: fadeIt 2s ease-in-out;
}

.noanim #results:focus {
  outline: 2px solid #eee;
}

#results .data-item {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#results .data-item h3, #results .data-item h4 {
  margin-top: 0;
}

.page-template-review-internet-access #results .data-item,
.page-template-review-course #results .data-item {
  border-bottom: none;
}

#results .data-item dt {
  margin: 10px 10px 0 0;
  line-height: 1.3;
  float: left;
  clear: left;
}

#results .data-item dd {
  margin: 10px 0 0 0;
  line-height: 1.3;
  float: left;
  max-width: 45%;
}

#results p.provider,
#results p.location {
  margin: 10px 0 0 0;
  line-height: 1.3;
}

.not-spec {
  color: red;
}

#results .review {
  padding: 1em 0;
  clear: both;
  float: none;
}

#results .search-statement {
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
}

#results .num-found {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  #hp-forms .course, #hp-forms .access {
    width: 100%;
    padding: 0 0 30px 0;
    border-left: none;
    display: block;
  }
}
@media screen and (max-width: 400px) {
  #courses-filter-hide, #int-access-filter-hide {
    margin: 5px 0;
    float: none;
  }

  #int-access-form-header, #courses-form-header {
    display: block;
    margin: 5px 0;
    float: none;
  }

  .map-buttons button,
.map-buttons .button {
    display: block;
    margin: 5px 0;
    font-size: 1 rem;
  }

  .map-buttons button.initially-hidden,
.map-buttons .button.initially-hidden {
    display: none;
  }

  #results .other-detail dt,
#results .other-detail dd {
    float: none;
    clear: both;
    max-width: 100%;
  }

  #results .other-detail dd {
    margin: 0;
  }
}
a.button.show-map-google {
  padding-right: 45px;
  background-image: url(images/new-window-icon.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* Home Page specials */
#hp-access-hdr, #hp-course-hdr {
  display: block;
  background: #000;
  color: #000;
  /* Candidate */
  margin: 0;
  padding: 0;
  background-position: right;
  background-repeat: no-repeat;
}

#hp-access-hdr span, #hp-course-hdr span {
  display: block;
  background: #F39120;
  /* Candidate */
  padding: 8px 10px;
  margin: 0 40px 0 0;
}

#hp-access-hdr {
  background-image: url(images/mouse-icon-40.png);
}

#hp-course-hdr {
  background-image: url(images/course-icon-40.png);
}

/*# sourceMappingURL=base.css.map */
