@charset "UTF-8";
/*
Theme Name: Signpost
Theme URI: 
Description: A white-label theme constructed for the Signposting Tool Project.
Version: 1.1
Author: Graham Armfield - edits by Francis Barton
Tags: one column, widgets
Text Domain: signpost
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

a.access:link, a.access:visited, a.access:hover {
  border: none;
  padding: 0.5em;
  font-weight: bold;
  position: absolute;
  top: 40px;
  left: -9999px;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 1em !important;
  z-index: 10;
  text-decoration: underline;
}

a.access:active, a.access:focus {
  border: #006699 1px solid;
  position: absolute;
  top: 40px;
  left: 0px;
  overflow: visible;
  width: auto;
  height: auto;
  margin: auto;
  background-color: #E7FF44;
}

/* Structural stuff */
#banner-inner {
  width: auto;
  margin: 0 auto;
  padding: 0;
}

#banner-cookie {
  width: 96%;
  padding: 0 2%;
}

#banner-cookie p {
  font-size: 0.8rem;
}

.js #cookie-accept-nojs,
.non-js #cookie-accept-js {
  display: none;
}

#banner-wrap {
  width: 96%;
  padding: 0;
}

#logo {
  position: relative;
  top: -30px;
  width: 23vw;
  min-width: 115px;
  max-width: 345px;
  float: right;
  margin: 0 2vw;
  border: 7px solid #ffbb22;
  padding: 4px;
  display: inline-block;
  z-index: 50;
  background-color: white;
  clear: both;
}

#logo_img {
  width: 100%;
  padding: 0;
}

#banner2 {
  display: none;
  background-color: #0066af;
}

#langlink,
#searchbox {
  display: inline-block;
  margin-top: 10px;
}

.covid_event_box {
  padding: 5px;
  border: 5px solid #7f76d3;
}

#searchform input {
  display: inline-block;
}
#searchform #s {
  width: 50%;
}
#searchform #searchsubmit {
  width: 5em;
}

#middle {
  background-color: white;
  color: #292939;
  border-top: 6px solid #0066af;
  border-bottom: 6px solid #0066af;
}

#middle-inner {
  width: 100%;
  margin: 12vw auto 8vw;
}

.fp_cta {
  border: 4px solid #ffbb22 !important;
  border-radius: 30px !important;
}
.fp_cta a:link, .fp_cta a.wp-block-button__link {
  text-decoration: none !important;
}

.wp-block-getwid-button-group {
  overflow: visible !important;
}

.wp-block-getwid-button-group .wp-block-getwid-button-group__wrapper {
  margin: 0 !important;
}

.wp-block-getwid-button-group .wp-block-button {
  padding: 0 !important;
  margin: 0 auto !important;
}

/* content eg search results display */
#content {
  width: calc(100px + 50vw);
  margin: 0 auto;
  line-height: 1.5;
  text-align: left;
}

#content-inner h1,
#content-inner h2 {
  border-bottom: 4px solid #7f76d3;
}

#content ul li {
  list-style-type: disc;
  margin-left: 20px;
}

#content ol li {
  list-style-type: decimal;
  margin-left: 20px;
}
#content ol li li {
  list-style-type: lower-roman;
}

#googlemap {
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 450px;
}

#data {
  margin-top: 25px;
  margin-bottom: 25px;
}

#gmap {
  width: 300px;
  height: 60px;
  background-color: #aaa;
  padding: 0;
  border: 2px solid #aaa;
  border-radius: 2px;
}

#click {
  margin: 10px;
  font-size: 2rem;
  color: #fcfcfc;
  background-color: transparent;
}

#map_embed {
  margin: 0;
  width: 100%;
  height: auto;
  min-height: 450px;
}

@media screen and (max-width: 600px) {
  #content {
    width: 90%;
  }

  #content .contact ul li.short,
#content .contact ul li.short.clear {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
  }
}
/* footer */
#bottom {
  text-align: left;
  background-color: #eee;
}

#bottom-inner {
  width: calc(100px + 50vw);
  margin: 0 auto;
  padding: 10px 0;
}

#footer {
  display: table;
  width: 96%;
  padding: 0 2%;
}

#footernav {
  padding: 0;
}

#footernav-cont, #footer-logos {
  padding: 0 2% 0 0;
  margin: 0;
  display: table-cell;
  vertical-align: top;
  width: 50%;
}

#footer-logos {
  width: 45%;
  padding: 0;
}

#footer-credits {
  font-size: 0.8rem;
}

#footer-logos h2 {
  font-size: 1.1rem;
}

#footernav li {
  display: inline-block;
  padding: 10px 15px 10px 0;
}

.partners {
  margin: 0;
  padding: 0;
}

.partners li {
  display: inline-block;
  margin: 5px 2px;
}

@media screen and (max-width: 700px) {
  #footer {
    display: block;
  }

  #footernav-cont, #footer-logos {
    display: block;
    width: 100%;
  }

  .map-block {
    width: 100%;
    margin-left: 0;
    float: none;
    clear: both;
  }
}
@media screen and (max-width: 600px) {
  #banner-wrap,
#banner1,
#banner2 {
    display: block;
    width: 100%;
  }

  #banner2 {
    text-align: left;
  }
}
html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6, p, li {
  font-family: "Merriweather", "Georgia", "serif";
  font-weight: 600;
  color: #292939;
  line-height: 125%;
}

h1 {
  font-size: calc(2rem + 1vw);
}

h2 {
  font-size: calc(1.2rem + 1vw);
}

h3 {
  font-size: calc(1.8rem + 0.2vw);
}

h4 {
  font-size: calc(1.6rem + 0.2vw);
}

p, li {
  font-size: calc(1.4rem + 0.2vw);
  font-weight: 400;
  margin-bottom: 1.2rem;
}

p {
  line-height: 137.5%;
}

li {
  line-height: 110%;
}

dt {
  font-weight: 600;
}

caption, figcaption {
  font-size: calc(1.2rem + 0.2vw);
  font-weight: 400;
}

#list .ui-accordion-content {
  font-family: "Merriweather", "Georgia", "serif";
}

#content-inner h1,
#content-inner h2 {
  margin-top: 80px;
  padding: 6px 2px;
  border-bottom: 4px solid #ffbb22;
}

blockquote {
  quotes: none;
  margin: 1em 0;
  padding: 2px 10px 2px 25px;
  border-left: 3px solid #292939;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

del {
  text-decoration: line-through;
}

/* =============================================================================
   Images
   ========================================================================== */
.alignleft, .float-left {
  float: left;
  margin: 2px 10px 0 0;
}

.alignright, .float-right {
  float: right;
  margin: 2px 0 0 10px;
}

.alignnone {
  display: block;
  clear: both;
}

.aligncenter {
  clear: both;
  display: block;
  margin: 5px auto;
}

img {
  margin: 0;
  height: auto;
  max-width: 100%;
}

#middle a:link {
  text-decoration: solid underline 2px currentcolor;
  text-underline-offset: 2px;
  border: 1px dashed transparent;
}

#middle a:link:hover {
  border: 1px dashed #ffbb22;
  background-color: rgba(255, 187, 34, 0.25);
}

#ctf a:link {
  text-decoration: solid underline 1px currentcolor;
  text-underline-offset: 1px;
  border: 1px dashed transparent;
}

#ctf a:link:hover {
  border: 1px dashed #ffbb22;
  background-color: rgba(0, 101, 175, 0.25);
}

a img {
  border: none;
}

/* Navigation area */
#nav-strip {
  position: relative;
  background: #0066af;
  border-bottom: 6px solid #ffbb22;
}

#nav-strip h2 {
  position: absolute;
  left: -9999px;
}

#nav-strip-inner {
  position: relative;
  text-align: left;
  margin: 0 5%;
  padding: 0;
  z-index: 40;
}

#nav-strip-inner .inner {
  padding: 0 2%;
}

#shownav,
#hidenav {
  display: none;
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  width: 60%;
  max-width: 500px;
}

#shownav:link, #shownav:visited,
#hidenav:link, #hidenav:visited {
  background: #2e2e2e;
  color: #fff;
}

#shownav:hover, #shownav:active, #shownav:focus,
#hidenav:hover, #hidenav:active, #hidenav:focus {
  background: #fff;
  color: #90136f;
}

#nav {
  margin: 0;
  padding: 20px 2px;
  display: table;
}

#nav > li {
  display: table-cell;
  padding: 0;
  margin: 0;
  position: relative;
  text-align: left;
  border-left: 1px solid #eee;
  line-height: 1;
}

#nav > li:first-child {
  border-left: none;
}

#nav li a {
  display: block;
  background: transparent;
  color: white;
  text-decoration: none;
  padding: 0.6em;
  font-size: calc(1rem + 1vw);
  font-weight: bold;
}

#nav li.current-menu-item a:link,
#nav li.current-menu-item a:visited,
#nav li.current-menu-ancestor a:link,
#nav li.current-menu-ancestor a:visited {
  background: transparent;
  color: #7563a8;
  outline: none;
}

#nav li.current-menu-item a:hover,
#nav li.current-menu-item a:focus,
#nav li a:hover,
#nav li a:focus,
#nav > li.hover > a:link,
#nav > li.hover > a:visited {
  background: transparent;
  color: #ffbb22;
}

#nav ul.children,
#nav ul.sub-menu {
  position: absolute;
  font-size: 95%;
  z-index: 50;
  padding: 0;
  margin-top: 0;
  text-align: left;
}

#nav ul {
  position: absolute;
  top: 4em;
}

#nav ul li {
  display: block;
  width: 230px;
  float: none;
  height: auto;
  padding: 0;
  margin: 0;
  border-top: 1px solid #000;
}

#nav ul a:link,
#nav ul a:visited,
#nav li.current-menu-item ul a:link,
#nav li.current-menu-item ul a:visited,
#nav li.current-menu-ancestor ul a:link,
#nav li.current-menu-ancestor ul a:visited {
  min-height: 1em;
  border: none;
  padding: 0.5em 15px;
  margin: 0;
  background: #ffbb22;
  color: #000;
  font-size: 1rem;
}

#nav ul ul {
  font-size: 1.2rem;
}

#nav ul a:hover,
#nav ul a:active,
#nav ul a:focus,
#nav li.current-menu-item ul a:hover,
#nav li.current-menu-item ul a:active,
#nav li.current-menu-item ul a:focus,
#nav li.current-menu-ancestor ul a:hover,
#nav li.current-menu-ancestor ul a:active,
#nav li.current-menu-ancestor ul a:focus,
#nav ul .hover > a {
  background: #000;
  color: #fff;
  /* font-weight:bold; */
}

#nav ul ul {
  left: 100px;
  top: 0;
  /* 6px / 12px */
}

#nav ul,
#nav :hover ul ul,
#nav .hover ul ul {
  margin-left: -9999px;
}

/* #nav li:hover > ul,*/
#nav li.hover > ul,
#nav a:focus + ul,
#nav ul ul,
#nav .hover a:focus {
  margin-left: 0;
}

#nav ul a:focus {
  margin-left: 9999px;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 2;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
table button, table input {
  *overflow: auto;
}

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
  display: block;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 1rem;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Consistent box sizing and appearance
 */
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input, select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input[type=text],
select,
textarea {
  background-color: #fffaf5;
  /* Candidate */
  padding: 6px 1%;
  border: 1px solid #404040;
  /* Candidate */
  outline: none;
  width: 98%;
}

input:focus, textarea:focus, select:focus {
  background-color: #FFFDC0;
  outline: none;
}

input[type=submit],
button,
a.button {
  background: #000;
  /* Candidate */
  border: 1px solid #000;
  /* Candidate */
  color: #fff;
  /* Candidate */
  outline: none;
  padding: 6px 15px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus,
button:hover,
button:active,
button:focus,
a.button:hover,
a.button:active,
a.button:focus {
  position: relative;
  background-color: #f3f3f3;
  /* Candidate */
  color: #90136f;
  text-decoration: none;
  border: 1px solid #90136f;
  /* Candidate */
  outline: none;
}

/* Contact Forms */
#sub-errs {
  border: 3px solid #ba0e4b;
  margin: 1em 0;
  padding: 0 10px 6px 10px;
  font-size: 90%;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  behavior: url(/PIE.php);
  position: relative;
}

#sub-errs h2 {
  font-size: 130%;
}

#sub-errs ul, #sub-errs p {
  margin: 0;
  padding: 0;
}

#sub-errs ul li {
  list-style-type: none;
  padding: 0.6em 0 0.6em 28px;
  background: url(images/error-ind.gif) no-repeat 0 10px;
}

ul.radio.error,
ul.checkbox.error,
ul.dob.error {
  outline: 2px solid #CC063B;
}

#content .contactform {
  border: none;
  margin: 0;
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  padding: 5px 3%;
  float: none;
  clear: both;
}
#content .contactform input [aria-invalid=true], #content .contactform select [aria-invalid=true], #content .contactform textarea [aria-invalid=true] {
  outline: 2px solid #CC063B;
}
#content .contactform span.mand, #content .contactform ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#content .contactform ul li {
  list-style-type: none;
  padding: 0;
  background: none;
  margin: 0 0 2em 0;
  clear: left;
}
#content .contactform ul li li {
  margin: 0;
}
#content .contactform ul li.days fieldset li {
  margin: 0 2em 0 0;
  display: inline-block;
  clear: none;
  float: none;
}
#content .contactform ul li.short {
  clear: none;
  float: left;
  margin-left: 3%;
  margin-right: 0;
  width: 47%;
}
#content .contactform ul li.short.clear {
  clear: both;
  float: left;
  margin-right: 3%;
  margin-left: 0;
  width: 47%;
}
#content .contactform ul li.extended {
  display: none;
}
#content .contactform ul li.check {
  clear: left;
  margin: 0.4em 0;
}
#content .contactform ul li.check input {
  clear: left;
  float: left;
  width: 15px;
  margin-top: 7px;
  margin-right: 0;
}
#content .contactform ul li.check label {
  margin-left: 1.5em;
  width: auto;
}
#content .contactform ul li.submit {
  padding-top: 0.5em;
}
#content .contactform ul ul.dob {
  display: table;
  width: 100%;
}
#content .contactform ul ul.dob li {
  display: table-cell;
  padding-left: 2%;
}
#content .contactform ul ul.dob li:first-child {
  padding-left: 0;
}
#content .contactform ul ul.dob li.dob-d {
  width: 5em;
}
#content .contactform ul ul.dob li.dob-y {
  width: 6em;
}
#content .contactform ul label {
  display: block;
  margin: 0;
  text-align: left;
  line-height: 1.8em;
  font-weight: bold;
}
#content .contactform ul label .text {
  width: auto;
  display: block;
  padding: 0 30px 0 0;
}
#content .contactform ul fieldset {
  width: 100%;
  display: block;
}
#content .contactform ul legend {
  width: 90%;
  display: block;
  padding: 0 30px 0 0;
  font-weight: bold;
}
#content .contactform ul label.valid .text,
#content .contactform ul legend.valid,
#content .contactform ul label.valid {
  background: transparent url(images/form-tick.png) no-repeat top right;
}
#content .contactform ul input,
#content .contactform ul .contactform select,
#content .contactform ul .contactform textarea {
  width: 100%;
}
#content .contactform ul li.submit input {
  width: auto;
  cursor: pointer;
}
#content .contactform ul .clarify {
  font-size: 80%;
}
#content .contactform ul .err-img {
  border: none;
}
#content .contactform ul .errors,
#content .contactform ul .fieldseterrors {
  background: #fff;
  color: #CC063B;
  font-weight: bold;
}

/* Process buttons */
form.process {
  margin: 15px 0;
}

/* Home Page forms */
#hp-forms {
  margin: 30px 0;
}

#hp-forms section {
  display: inline-block;
  width: 42%;
  vertical-align: top;
  padding: 0;
}

#hp-forms .access {
  padding-right: 4%;
}

#hp-forms .course {
  padding-left: 4%;
  border-left: 1px solid #000;
}

.hp-form {
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  padding: 5px 3%;
}

h2.form-header,
h3.form-header {
  display: inline;
  margin: 0;
  padding: 8px 3%;
  width: auto;
  font-size: 1.2rem;
  background: #F39120;
  /* Candidate */
  color: #000;
  /* Candidate */
  border-bottom: 1px solid #F39120;
  /* Candidate */
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#content .hp-form ul li {
  margin-bottom: 1em;
}

#content .hp-form label {
  font-weight: bold;
}

/* filter buttons */
.courses-filter-button,
.int-access-filter-button,
#courses-filter-hide,
#int-access-filter-hide {
  margin-top: -5px;
  margin-bottom: 2px;
  float: right;
}

.non-js #courses-filter-show,
.non-js #int-access-filter-show,
.non-js #courses-filter-hide,
.non-js #int-access-filter-hide,
.js .courses-filter-button.hide,
.js .int-access-filter-button.hide,
.js #courses-filter-show,
.js #int-access-filter-show {
  display: none;
}

/* Database search results styles */
#results {
  padding: 10px 2%;
}

@-webkit-keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-moz-keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@-o-keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
@keyframes fadeIt {
  0% {
    background-color: #FFFDC0;
  }
  100% {
    background-color: #FFFFFF;
  }
}
#results:focus {
  outline: none;
  -webkit-animation: fadeIt 2s ease-in-out;
  -moz-animation: fadeIt 2s ease-in-out;
  -o-animation: fadeIt 2s ease-in-out;
  animation: fadeIt 2s ease-in-out;
}

.noanim #results:focus {
  outline: 2px solid #eee;
}

#results .data-item {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

#results .data-item h3, #results .data-item h4 {
  margin-top: 0;
}

.page-template-review-internet-access #results .data-item,
.page-template-review-course #results .data-item {
  border-bottom: none;
}

#results .data-item dt {
  margin: 10px 10px 0 0;
  line-height: 1.3;
  float: left;
  clear: left;
}

#results .data-item dd {
  margin: 10px 0 0 0;
  line-height: 1.3;
  float: left;
  max-width: 45%;
}

#results p.provider,
#results p.location {
  margin: 10px 0 0 0;
  line-height: 1.3;
}

.not-spec {
  color: red;
}

#results .review {
  padding: 1em 0;
  clear: both;
  float: none;
}

#results .search-statement {
  border-top: 1px solid #ccc;
  padding-top: 0.5rem;
}

#results .num-found {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  #hp-forms .course, #hp-forms .access {
    width: 100%;
    padding: 0 0 30px 0;
    border-left: none;
    display: block;
  }
}
@media screen and (max-width: 400px) {
  #courses-filter-hide, #int-access-filter-hide {
    margin: 5px 0;
    float: none;
  }

  #int-access-form-header, #courses-form-header {
    display: block;
    margin: 5px 0;
    float: none;
  }

  .map-buttons button,
.map-buttons .button {
    display: block;
    margin: 5px 0;
    font-size: 1 rem;
  }

  .map-buttons button.initially-hidden,
.map-buttons .button.initially-hidden {
    display: none;
  }

  #results .other-detail dt,
#results .other-detail dd {
    float: none;
    clear: both;
    max-width: 100%;
  }

  #results .other-detail dd {
    margin: 0;
  }
}
#list {
  padding: 5px;
  border: 1px solid #777;
  border-radius: 4px;
}
#list h3 {
  font-size: 18px;
  padding: 4px;
  background-color: #777;
  border: 1px solid #ffbb22;
  border-radius: 4px;
  margin-bottom: 8px;
}
#list h3:active {
  background-color: #0066af;
}
#list h3 a:before {
  color: white;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 1.8rem;
  font-weight: 900;
  content: "";
  padding: 8px;
  transition: 0.5s;
}
#list h3.open {
  background-color: #0066af;
}
#list h3 a {
  font-weight: 500;
  color: #def;
  text-decoration: none;
}
#list h3 a:hover,
#list h3.open a {
  color: white;
}
#list h3.open a:before {
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-size: 1.8rem;
  font-weight: 900;
  content: "";
  transform: rotate(90deg);
}
#list .ui-helper-reset {
  padding-left: 20px;
}
#list .ui-state-active,
#list .ui-state-default {
  color: #292939;
  font-weight: 500;
}
#list .ui-state-active {
  color: #292939;
}
#list .ui-accordion-header,
#list .ui-accordion-content.provider {
  font-size: 16px;
  font-weight: 700;
}
#list .ui-accordion-content {
  font-size: 14px;
  list-style-type: none;
}
#list .ui-accordion-content.provider {
  margin-bottom: 6px;
}
#list .ia {
  color: white;
  background-color: #0f9d58;
}
#list .di {
  color: white;
  background-color: #2465ff;
}
#list .bs {
  color: white;
  background-color: #880e4f;
}
#list .bc {
  color: white;
  background-color: #f57c00;
}

a.button.show-map-google {
  padding-right: 45px;
  background-image: url(images/new-window-icon.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* Home Page specials */
#hp-access-hdr, #hp-course-hdr {
  display: block;
  background: #000;
  color: #000;
  /* Candidate */
  margin: 0;
  padding: 0;
  background-position: right;
  background-repeat: no-repeat;
}

#hp-access-hdr span, #hp-course-hdr span {
  display: block;
  background: #F39120;
  /* Candidate */
  padding: 8px 10px;
  margin: 0 40px 0 0;
}

#hp-access-hdr {
  background-image: url(images/mouse-icon-40.png);
}

#hp-course-hdr {
  background-image: url(images/course-icon-40.png);
}

.ctf,
.cff-wrapper {
  width: 60%;
  padding: 10px;
  border: 2px solid #0066af;
  border-radius: 4px;
  margin: 10px 0;
}

.cff .header-text {
  font-size: 24px;
}

.ctf-item,
.cff-item {
  padding: 2px 20px;
}

.ctf-tweet-text,
.cff-post-text {
  font-size: calc(1.4rem + 0.2vw);
}

.display_archive {
  font-family: "Merriweather", "Georgia", "serif";
  font-size: 1.6rem;
  color: #400040;
  border: 4px solid #dee3ed;
  border-top: 0;
  padding: 2em 1em;
  margin-top: 0;
}

.campaign {
  font-family: "Merriweather", "Georgia", "serif";
  font-size: 1.6rem;
  line-height: 125%;
  display: list-item;
  list-style-type: disc;
  margin: 5px;
}

.wp-image-1420 {
  margin-left: 15px;
}

/*# sourceMappingURL=style.css.map */
