/*
Theme Name: Signpost
Theme URI: 
Description: A white-label theme constructed for the Signposting Tool Project.
Version: 1.0
Author: Graham Armfield
Tags: one column, widgets
Text Domain: signpost
*/
/* Reset default browser CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
fieldset, form, label, legend,
section, article, main, aside, 
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
body {
	line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
	clear: none;
	font-weight: bold;
   color:#404040;
   word-wrap:break-word;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
   margin:1em 0; 
   padding:2px 10px 2px 25px; 
   border-left: 3px solid #ddd;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 2;
}
a img {
	border: none;
}
/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html.ie7,
html.ie8 {font-size: 115%; }

body, button, input, select, textarea { background:#fff; font-family: 'Droid Sans',arial, sans-serif; color:#404040; letter-spacing: normal; word-spacing: normal; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #330099; color: #fff; text-shadow: none; }
::selection { background: #330099; color: #fff; text-shadow: none; }

.clear{clear:both}
.visuallyhidden, .srdr{position:absolute; left:-9999px; }
a:link     {
   text-decoration:underline; 
}

a.access:link, a.access:visited, a.access:hover { border:none; padding:0.5em; font-weight:bold; position:absolute;top:40px;left:-9999px;overflow:hidden;width:0;height:0;font-size:1em !important;z-index:10; text-decoration: underline }
a.access:active, a.access:focus { border:#006699 1px solid; position:absolute;top:40px;left:0px;overflow:visible;width:auto;height:auto;margin:auto;background-color:#E7FF44; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
hr { display: block; height: 1px; border: 0; border-top: 2px dotted #ddd; margin: 0.5em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
dt { font-weight:bold; margin:0 }
dd { margin: 0 0 1em 0; }
dd p {margin:0}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e  */
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
/* Correct overflow not hidden in IE9 */
svg:not(:root) { overflow: hidden; }

/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; display:block; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 1rem; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

 
 
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/* EXPERIMENTAL */
*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}
/* EXPERIMENTAL */

input[type="text"],
select,
textarea {
   background-color:#fffaf5; /* Candidate */
   padding:6px 1%;
   border: 1px solid #404040; /* Candidate */
   outline:none;
   width:98%;
}
input:focus, textarea:focus, select:focus {
   background-color:#FFFDC0;
   outline:none;
}

input[type="submit"],
button,
a.button {
   background:#000; /* Candidate */
   border: 1px solid #000; /* Candidate */
   color:#fff; /* Candidate */
   outline:none;
	padding:6px 15px ;
	text-decoration: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}


input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
button:hover,
button:active,
button:focus,
a.button:hover,
a.button:active,
a.button:focus {
   position:relative;
   background-color:#f3f3f3;  /* Candidate */
   color:#90136f;
   text-decoration:none;
   border:1px solid #90136f;  /* Candidate */
   outline:none;
}
a.button.show-map-google {
   padding-right:45px;
   background-image: url(images/new-window-icon.png);
   background-repeat: no-repeat;
   background-position: right center;
}
/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
/* 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing */
textarea { overflow: auto; vertical-align: top; resize: vertical; }


/* =============================================================================
   Images
   ========================================================================== */
.alignleft, .float-left{float:left; margin:2px 10px 0 0;}
.alignright, .float-right{float:right; margin:2px 0 0 10px;}
.alignnone{display:block;	clear: both;}
.aligncenter {	clear: both;	display: block;	margin: 5px auto;}
img {
   margin: 0;
   height: auto;
   max-width: 100%;
}
/* =============================================================================
   Video stuff 
   ========================================================================== */
.embed-container { 
   position: relative; 
   padding-bottom: 56.25%; 
   padding-top: 30px; 
   height: 0; 
   overflow: hidden; 
   max-width: 100%; 
   height: auto; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
}

/* =============================================================================
   Layout and site-wide styles
   ========================================================================== */

body {
   font-family: Arial, sans-serif; 
   margin:0;
   padding:0;
   text-align:left;
}
h1,h2,h3,h4,h5,h6 { font-family:  Arial, sans-serif; font-weight:bold;  line-height:1.1}
h1{font-size:2.2rem; margin:0 0 20px 0 ;}   
h2{font-size:1.6rem; margin:20px 0 10px 0;}   
h3{font-size:1.5rem; margin:20px 0 10px 0;}   
h4{font-size:1.3rem; margin:10px 0 5px 0;}   
h5{font-size:1.2rem; margin:10px 0 0 0; }   
h6{font-size:1rem; margin:10px 0 0 0; }   

p {
   margin:1rem 0;
}

/* Structural stuff */
#top {
}
#banner-inner {
   width:100%;
   max-width:1000px;
   margin:0 auto;
   padding: 10px 0;
}
#banner-inner:focus {
   outline:none;
}
#banner-cookie {
   width:96%;
   padding:0 2%;
   
}
#banner-cookie p {
   font-size:0.8rem;
}

.js #cookie-accept-nojs,
.non-js #cookie-accept-js {
   display:none;
}

#banner-wrap {
   width:96%;
   display:table;
   padding:20px 2%;
}
#banner1 {
   display:table-cell;
   width:40%;

}
#logo {
   max-width:300px;
}
#banner2 {
   display:table-cell;
   width:60%;
   vertical-align:bottom;
   text-align:right;
   padding:0 2%;

}
#langlink,
#searchbox {
   display:inline-block;
   margin-top:10px;
}
#searchform {
}
#searchform input {
   display:inline-block;
}
#searchform #s {
   width:50%;
}
#searchform #searchsubmit {
   width: 5em;
}

/* Navigation area */
#nav-strip {
   position:relative;
   background:#2e2e2e;
}
#nav-strip h2{
   position:absolute;
   left:-9999px;
}
#nav-strip-inner {
   position:relative;
   text-align:left;
   width:100% ;
   max-width:1000px;
   margin:0 auto;
   padding:0;
   z-index:40;
   
}
#nav-strip-inner .inner{
   padding:0 2%;
}



#shownav,
#hidenav {
   display:none;
   margin:0;
   padding:1em;
   width:auto;
}
#shownav:link, #shownav:visited,
#hidenav:link, #hidenav:visited {
   background:#2e2e2e;  /* Candidate */
   color:#fff;  /* Candidate */
}
#shownav:hover, #shownav:active, #shownav:focus,
#hidenav:hover, #hidenav:active, #hidenav:focus {
   background:#fff;  /* Candidate */
   color:#90136f;  /* Candidate */
}
#nav {
   margin:0;
   padding:0;
   display:table;
}
#nav:focus {
   outline:none;
}

#nav>li {
   display:table-cell;
   padding:0;
   margin:0;
   position:relative;
   text-align:left;
   border-left:1px solid #eee;
}
#nav>li:first-child {
   border-left:none;
}
#nav li a:link,
#nav li a:visited {
   display:block;
   background:#000; /* candidate */
   color:#fff;  /* candidate */
   text-decoration:none;
   padding:1em 0.8em;
   font-size:1.2rem;
   font-weight:bold;
}



#nav li.current-menu-item a:link,
#nav li.current-menu-item a:visited,
#nav li.current-menu-ancestor a:link,
#nav li.current-menu-ancestor a:visited{
   background:#000;  /* candidate */
   color:#F39120;  /* candidate */
   outline:none;
}
#nav li.current-menu-item a:hover,
#nav li.current-menu-item a:focus,
#nav li a:hover,
#nav li a:focus,
#nav>li.hover>a:link,
#nav>li.hover>a:visited{
   background:#000;  /* candidate */
   color:#F39120;  /* candidate */
   outline:none;
}
#nav ul.children,
#nav ul.sub-menu {
   position: absolute; 
   font-size:95%;
   z-index:50;
   padding:0;
   margin-top:0;
   text-align:left;
}

#nav ul { 
   position: absolute; 
   top: 4em;  
}
#nav ul li { 
   display: block; 
   width: 230px; 
   float: none; 
   height: auto; 
   padding:0; 
   margin:0;
   border-top:1px solid #000;
}

#nav ul a:link,
#nav ul a:visited,	 
#nav li.current-menu-item ul a:link,
#nav li.current-menu-item ul a:visited, 
#nav li.current-menu-ancestor ul a:link,
#nav li.current-menu-ancestor ul a:visited	{ 
   min-height:1em;
   border:none;
   padding: 0.5em 15px;  
   margin:0;
   background:#F39120;  /* Candidate */
   color:#000;   /* Candidate */
   font-size:1rem;
}
#nav ul ul		{ font-size: 1em; }

#nav ul a:hover, 
#nav ul a:active, 
#nav ul a:focus,
#nav li.current-menu-item ul a:hover, 
#nav li.current-menu-item ul a:active, 
#nav li.current-menu-item ul a:focus, 
#nav li.current-menu-ancestor ul a:hover, 
#nav li.current-menu-ancestor ul a:active, 
#nav li.current-menu-ancestor ul a:focus,
#nav ul .hover>a		{ 
   background: #000;   /* Candidate */
   color:#fff;   /* Candidate */
   /* font-weight:bold; */
}

#nav ul ul		{ left: 100px; top: 0; /* 6px / 12px */ }

#nav ul,
#nav :hover ul ul,
#nav .hover ul ul	{ margin-left: -9999px; }

/*#nav li:hover>ul,*/
#nav li.hover>ul,
#nav a:focus+ul,
#nav ul ul,
#nav .hover a:focus	{ margin-left: 0; }
.ie7 #nav .hover a:focus	{  }
#nav ul a:focus		{ margin-left: 9999px; }



#middle {
   text-align:left;
}
#middle-inner {
   width:100%;
   max-width:1000px;
   margin:0 auto;
   padding: 10px 0;
}

/* content */
#content{
   width:96%;
   margin:0;
   padding:0 2%;
   line-height:1.5;
}


#content ul li{
   list-style-type:square;
   margin-left:20px;
}
#content ol li{
   list-style-type:decimal;
   margin-left:20px;
}
#content ol li li{
   list-style-type:lower-roman;
   margin-left:20px;
}
#content ol li ol{
   margin:0;
}

.map-block{
   position:relative;
   width:50%;
   margin-left:5%;
   float:right;
   outline:1px solid #000;
   overflow:hidden;
}
.page-template-review-internet-access #results .map-block,
.page-template-review-course #results .map-block {
   margin-left:0;
   float:none;
   clear:both;
}
.initially-hidden{
   display:none;
}

.map {
   height:250px;
}
.non-js .show-map-here,
.non-js .initially-hidden {
   display:none;
}

/* Show map here maps */
/* Comments */
#comments {
   margin:3em 0 2em 0;
}
.comment-list {
   margin:1em 0 3em 0;
   padding:0;
}
#content .comment-list li.comment {
   border-top:1px solid #bdbcbb;
   padding:1em 0;
   margin:1em 0;
   list-style-type:none;
}
.comment:first-child {
   border-top:none;  
}
.comment-avatar {
   float:left;
   margin:0 1em 0.8em 0;
}
.comment-author,
.comment-time {
   margin:0 0 0.5em 0;
}
/* Comment Form */
#commentform p {
   margin:2em 0;
}
/* Tables */
#content th, #content td,#content th div, #content td div{
   word-wrap:break-word;
}


/* Social bookmarking */
#content .soc-book {
   margin:2em 0
}
.home #content .soc-book {
   margin:0 0 2em 0
}
#content .soc-book ul,
#content .soc-book p {
   margin:0;
   padding:0;
}
#content .soc-book li {
   margin:0 5px 0 0;
   padding:0;
   list-style-type:none;
   /* float:left; */
   display:inline-block;
   height:30px;
   width:30px;
   overflow:hidden;
}
#content .soc-book li,
#content .soc-book li:nth-child(4n+2),
#content .soc-book li:nth-child(4n+3),
#content .soc-book li:nth-child(4n+4){
   background-image:none;
}
#content .soc-book a img {
   box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
   padding:0;
   background:url(images/soc-icons.png) no-repeat 3px 3px;
}
#content .soc-book a:link, #content .soc-book a:visited {
   display:block;
   background:transparent;
   background-image:none;
}
#content .soc-book a:hover, #content .soc-book a:active, #content .soc-book a:focus {
   background:yellow;
}
#content .soc-book a.facebook img {background-position: 3px -65px; }
#content .soc-book a.twitter img {background-position: 3px -439px; }
#content .soc-book a.linkedin img {background-position: 3px -133px; }
#content .soc-book a.delicious img {background-position: 3px 3px; }
#content .soc-book a.digg img {background-position: 3px -31px; }
#content .soc-book a.reddit img {background-position: 3px -269px; }
#content .soc-book a.posterous img {background-position: 3px -235px; }
#content .soc-book a.stumbleupon img {background-position: 3px -371px; }

/* Contact Forms */


#sub-errs{border:3px solid #ba0e4b; 
   margin:1em 0; padding:0 10px 6px 10px; font-size:90%;
   position:relative;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px; 
   behavior: url(/PIE.php);
   position:relative}
#sub-errs h2{font-size:130%}
#sub-errs ul, #sub-errs p{margin:0;padding:0;}
#sub-errs ul li {
   list-style-type:none;
   padding:0.6em 0 0.6em 28px;
   background:url(images/error-ind.gif) no-repeat 0 10px;
   
}
#content .contact input[aria-invalid="true"],
#content .contact select[aria-invalid="true"],
#content .contact textarea[aria-invalid="true"],
ul.radio.error,
ul.checkbox.error,
ul.dob.error {
   outline:2px solid #CC063B;
}

#content .contact{border:none; margin:0; 
   background: #F39120; /* Candidate */
   color:#000; /* Candidate */
   padding:5px 3%;
   float:none;
   clear:both;
}
#content .contact span.mand,
#content .contact ul {list-style-type: none; margin: 0; padding: 0}
#content .contact ul li {list-style-type: none; padding: 0; background:none; margin: 0 0 2em 0; clear: left;}
#content .contact ul li li{margin: 0;}
#content .contact ul li.days fieldset li{margin: 0 2em 0 0; display:inline-block; clear:none; float:none}
#content .contact ul li.short {clear: none; float:left; margin-left:3%;margin-right:0; width:47%}
#content .contact ul li.short.clear {clear: both; float:left; margin-right:3%; margin-left:0; width:47%}
#content .contact ul li.extended {display:none;}
#content .contact ul.dob {display:table; width:100%}
#content .contact ul.dob li {display:table-cell; padding-left:2%;}
#content .contact ul.dob li:first-child {padding-left:0;}
#content .contact ul.dob li.dob-d {width:5em}
#content .contact ul.dob li.dob-y {width:6em}
#content .contact ul li.check {clear: left; margin:0.4em 0}
#content .contact ul li.check input {clear:left; float: left; width:15px;margin-top:7px;margin-right:0}
#content .contact ul li.check label {margin-left:1.5em; width:auto}
#content .contact ul li.submit {padding-top: 0.5em}
#content .contact label {display: block; margin: 0; text-align: left; line-height:1.8em; font-weight:bold;}
#content .contact label .text {width:auto; display:block; padding:0 30px 0 0;}
#content .contact fieldset {width:100%; display:block;}
#content .contact legend { width:90%; display:block; padding:0 30px 0 0; font-weight:bold}
#content .contact label.valid .text,
#content .contact legend.valid {}
#content .contact legend.valid,
#content .contact label.valid {
   background:transparent url(images/form-tick.png) no-repeat top right;
}
#content .contact input, .contact select, .contact textarea {width:100%;}
#content .contact li.submit input {width:auto;  cursor:pointer}
#content .contact .clarify {font-size:80%}
#content .contact .err-img {border:none}
#content .contact .errors,
#content .contact .fieldseterrors {
   background:#fff;
   color:#CC063B;
   font-weight:bold;
}

/* Process buttons */
form.process {
   margin:15px 0;
}

/* Home Page specials */
#hp-access-hdr, #hp-course-hdr{
   display:block;
   background:#000; 
   color:#000; /* Candidate */
   margin:0;
   padding:0;
   background-position:right;
   background-repeat:no-repeat;
}
#hp-access-hdr span, #hp-course-hdr span{
   display:block;
   background:#F39120; /* Candidate */
   padding:8px 10px;
   margin: 0 40px 0 0;
}
#hp-access-hdr{
   background-image: url(images/mouse-icon-40.png);
}
#hp-course-hdr{
   background-image: url(images/course-icon-40.png);
}


/* Home Page forms */
#hp-forms {
   margin:30px 0;
}
#hp-forms section {
   display:inline-block;
   width:42%;
   vertical-align:top;
   padding:0;
}
#hp-forms .access {
   padding-right: 4%;
}
#hp-forms .course {
   padding-left: 4%;
   border-left:1px solid #000;
}
.hp-form {
   background: #F39120; /* Candidate */
   color:#000; /* Candidate */
   padding:5px 3%;
}
h2.form-header,
h3.form-header {
   display:inline;
   margin: 0;
   padding:8px 3%;
   width:auto;
   font-size: 1.2rem;
   background: #F39120; /* Candidate */
   color:#000; /* Candidate */
   border-bottom:1px solid #F39120;  /* Candidate */
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;   
}
#content .hp-form ul li{
   margin-bottom:1em;
}
#content .hp-form label{
   font-weight:bold;
}
/* filter buttons */
.courses-filter-button,
.int-access-filter-button,
#courses-filter-hide,
#int-access-filter-hide {
   margin-top:-5px;
   margin-bottom:2px;
   float:right;
}
.non-js #courses-filter-show,
.non-js #int-access-filter-show,
.non-js #courses-filter-hide,
.non-js #int-access-filter-hide,
.js .courses-filter-button.hide,
.js .int-access-filter-button.hide,
.js #courses-filter-show,
.js #int-access-filter-show {
   display:none;
}

/* Database search results styles */
#results {
   padding:10px 2%;
}
@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
#results:focus {
   outline:none;
    -webkit-animation: fadeIt 2s ease-in-out; 
       -moz-animation: fadeIt 2s ease-in-out; 
         -o-animation: fadeIt 2s ease-in-out; 
            animation: fadeIt 2s ease-in-out; 
}
.noanim #results:focus {
   outline:2px solid  #eee; 
}
#results .data-item {
   padding:20px 0;
   border-bottom:1px solid #ccc;
}
#results .data-item h3, #results .data-item h4{
   margin-top:0;
}
.page-template-review-internet-access #results .data-item,
.page-template-review-course #results .data-item {
   border-bottom:none;
}
#results .data-item dt{
   margin:10px 10px 0 0;
   line-height:1.3;
   float:left;
   clear:left;
}
#results .data-item dd{
   margin:10px 0 0 0;
   line-height:1.3;
   float:left;
   max-width: 45%;
}
#results p.provider,
#results p.location {
   margin:10px 0 0 0;
   line-height:1.3;
}
.not-spec {
   color:red;
}
#results .review {
   padding:1em 0;
   clear:both;
   float:none;
}
#results .search-statement {
   border-top:1px solid #ccc;
   padding-top:0.5rem;
}
#results .num-found {
   border-bottom:1px solid #ccc;
   padding-bottom:0.5rem;
}
/* footer */
#bottom {
   text-align:left;
}
#bottom-inner {
   width:100%;
   max-width:1000px;
   margin:0 auto;
   padding: 10px 0;
}
#footer {
   display:table;
   width:96%;
   padding: 0 2%;
}
#footernav {
   padding:0;
}
#footernav-cont, #footer-logos {
   padding:0 2% 0 0;
   margin:0;
   display:table-cell;
   vertical-align:top;
   width:50%;
}
#footer-logos {
   width:45%;
   padding:0;
}
#footer-credits {
   font-size:0.8rem;
}
#footer-logos h2{
   font-size:1.1rem;
}
#footernav li{
   display:inline-block;
   padding:10px 15px 10px 0;
}
.partners {
   margin:0;
   padding:0;
}
.partners li {
   display:inline-block;
   margin: 5px 2px;
}
.partners li img{
   max-width:100px;
   max-height:60px;
}
/* Styles for smaller devices */
@media screen and (max-width: 900px) {
   .map-block {
      margin-left:0;
      float:none;
      clear:both;
   }
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 700px) {
   #nav {
      display:none;
      margin:0;
   }
   #nav.active,   
   .js #shownav.active,
   .js #hidenav.active{
      display:block;
      position:relative;
   }
   #nav>li {
      border:none;
   }
   #nav.active>li{
      float:none;
      clear:both;
      width:100%;
      position:relative;
      margin:0;
      padding:0;
      display:block;
   }
   #nav.active ul li{
      background:none;
   }
   
   #nav.active li a:link,
   #nav.active li a:visited {
      position:relative;
      background:#2e2e2e;  /* Candidate */
      min-height:1em;
   }


   #nav.active li a:link,
   #nav.active li a:visited,
   #nav li.current-menu-item ul a:link,
   #nav li.current-menu-item ul a:visited, 
   #nav li.current-menu-ancestor ul a:link,
   #nav li.current-menu-ancestor ul a:visited, 
   #nav.active li li a:link,
   #nav.active li li a:visited
    {
      position:relative;
      display:block;
      padding:8px 5%;
      width:90%;
      border:1px solid #e7e7e8;  /* Candidate */
      color:#90136f;  /* Candidate */
      background: #ebeced;  /* Candidate */
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px; 
   
      behavior: url(/PIE.php); 
      
      
   }
   #nav.active li a:link,
   #nav.active li a:visited{
      padding:10px 2%;
      width:96%;
   }
   
   #nav.active li[aria-haspopup="true"]>a:after {
      content: url(imagesnav-arrow-down.png);
      position:absolute;
      top:0.5em;
      right:0.5em;
      
   }

   #nav.active li.current-menu-item[aria-haspopup="true"]>a:after,
   #nav.active li.current-menu-ancestor[aria-haspopup="true"]>a:after {
      content: url(images/nav-arrow-down.png);
   }
   #nav.active li.current-menu-item>a:link,
   #nav.active li.current-menu-item>a:visited {
      border:1px solid #90136f;   /* Candidate */
      outline:none;
      background:#90136f;   /* Candidate */
      color:#fff;   /* Candidate */
      text-decoration:none;
   
   }
   #nav.active li li a:link,
   #nav.active li li a:visited {
      padding-left:25px;
   }
   #nav.active li a:hover,
   #nav.active li a:active,
   #nav.active li a:focus,
   #nav.active li li a:hover,
   #nav.active li li a:active,
   #nav.active li li a:focus {
      border:1px solid #90136f;  /* Candidate */
      outline:none;
      background:#90136f;  /* Candidate */
      color:#fff;  /* Candidate */
      text-decoration:none;
   }
/*   #nav li:hover>ul,
   #nav li:hover>ul>li, */
   #nav li.hover>ul,
   #nav li.hover>ul>li,
   #nav a:active+ul,
   #nav a:active+ul>li,
   #nav a:focus+ul,
   #nav a:focus+ul>li,
   #nav .hover a:active, 
   #nav .hover a:focus	{ 
      margin-left: 0; 
      position:relative;
      width:100%;
      margin:0;
      padding:0;
      top:0;
   }
   #footer {
      display:block;
   }
   #footernav-cont, #footer-logos {
      display:block;
      width:100%;
   }
   .map-block{
      width:100%;
      margin-left:0;
      float:none;
      clear:both;
   }

}

@media screen and (max-width: 600px) {
   #banner-wrap,
   #banner1,
   #banner2 {
      display:block;
      width:100%;
   }
   #banner2 {
      text-align:left;
      margin-top:1rem;
   }

   #hp-forms .course, #hp-forms .access  {
      width:100%;
      padding: 0 0 30px 0;
      border-left:none;
      display:block;
   }
   #content .contact ul li.short,
   #content .contact ul li.short.clear {
      float:none;
      clear:both;
      width:100%;
      margin:0;
   }
}
@media screen and (max-width: 470px) {
}
@media screen and (max-width: 400px) {
   html {
      font-size:110%;
   }
   #courses-filter-hide, #int-access-filter-hide {
       margin:5px 0;
       float: none;
   }
   #int-access-form-header, #courses-form-header {
       display:block;
       margin:5px 0;
       float: none;
   }
   
   .map-buttons button, 
   .map-buttons .button {
      display:block;
      margin:5px 0;
      font-size:1 rem;
   }
   .map-buttons button.initially-hidden, 
   .map-buttons .button.initially-hidden {
      display:none;
   }
   #results .other-detail dt,
   #results .other-detail dd {
      float:none;
      clear:both;
      max-width:100%;
   }
   #results .other-detail dd {
      margin:0;
   }
}
@media screen and (max-width: 300px) {

}

