a.access:link, a.access:visited, a.access:hover { border:none; padding:0.5em; font-weight:bold; position:absolute;top:40px;left:-9999px;overflow:hidden;width:0;height:0;font-size:1em !important;z-index:10; text-decoration: underline }
a.access:active, a.access:focus { border:#006699 1px solid; position:absolute;top:40px;left:0px;overflow:visible;width:auto;height:auto;margin:auto;background-color:#E7FF44; }