#list {
	padding: 5px;
	border: 1px solid #777;
	border-radius: 4px;
	h3 {
		font-size: 18px;
		padding: 4px;
		background-color: #777;
		border: 1px solid $bri-yellow;
		border-radius: 4px;
		margin-bottom: 8px;
	}
	h3:active {
		background-color: $blue;
	}
	h3 a:before {				// closed section
    color: white;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 1.8rem;
    font-weight: 900;
    content: "\f054"; // chevron-right
    padding: 8px;
	transition: 0.5s;
	}
	h3.open {
		background-color: $blue;
	}
	h3 a {
		font-weight: 500;
		color: #def;
		text-decoration: none;
	}
	h3 a:hover,
	h3.open a {
		color: white;
	}
	h3.open a:before {				// open section
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 1.8rem;
    font-weight: 900;
    content: "\f054";
    transform: rotate( 90deg );
	}

	.ui-helper-reset {
		padding-left: 20px;
	}
	.ui-state-active,
	.ui-state-default {
		color: $basic-text-grey;
		font-weight: 500;
	}
	.ui-state-active {
		color: $basic-text-grey;
	}
	.ui-accordion-header,
	.ui-accordion-content.provider {
		font-size: 16px;
		font-weight: 700;
	}
	.ui-accordion-content {
		font-size: 14px;
		list-style-type: none;
	}
	.ui-accordion-content.provider {
		margin-bottom: 6px;
	}
	// .ui-accordion-content .days,
	// .ui-accordion-content .dates,
	// .ui-accordion-content .desc,
	// .ui-accordion-content .access {
	// 	font-size: 14px;
	// 	margin-left: 25px;
	// 	list-style-type: disc;
	// }
	.ia {
		color: white;
		background-color: $ia-green;
	}
	.di {
		color: white;
		background-color: $di-blue;
	}
	.bs {
		color: white;
		background-color: $bs-pink;
	}
	.bc {
		color: white;
		background-color: $bc-orange;
	}

	
}