/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; display:block; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 1rem; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
 
button, input { line-height: normal; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
input, select {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type="text"],
select,
textarea {
   background-color:#fffaf5; /* Candidate */
   padding:6px 1%;
   border: 1px solid #404040; /* Candidate */
   outline:none;
   width:98%;
}
input:focus, textarea:focus, select:focus {
   background-color:#FFFDC0;
   outline:none;
}

input[type="submit"],
button,
a.button {
   background:#000; /* Candidate */
   border: 1px solid #000; /* Candidate */
   color:#fff; /* Candidate */
   outline:none;
	padding:6px 15px ;
	text-decoration: none;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}


input[type="submit"]:hover,
input[type="submit"]:active,
input[type="submit"]:focus,
button:hover,
button:active,
button:focus,
a.button:hover,
a.button:active,
a.button:focus {
   position:relative;
   background-color:#f3f3f3;  /* Candidate */
   color:#90136f;
   text-decoration:none;
   border:1px solid #90136f;  /* Candidate */
   outline:none;
}

/* Contact Forms */


#sub-errs{border:3px solid #ba0e4b; 
   margin:1em 0; padding:0 10px 6px 10px; font-size:90%;
   position:relative;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px; 
   behavior: url(/PIE.php);
   position:relative}
#sub-errs h2{font-size:130%}
#sub-errs ul, #sub-errs p{margin:0;padding:0;}
#sub-errs ul li {
   list-style-type:none;
   padding:0.6em 0 0.6em 28px;
   background:url(images/error-ind.gif) no-repeat 0 10px;
   
}

ul.radio.error,
ul.checkbox.error,
ul.dob.error {
   outline: 2px solid #CC063B;
}

#content {
   .contactform {
      border: none;
      margin: 0; 
      background: #F39120; /* Candidate */
      color: #000; /* Candidate */
      padding: 5px 3%;
      float: none;
      clear: both;
      input, select, textarea {
         [aria-invalid="true"] {
            outline: 2px solid #CC063B;
         }
      }
      span.mand, ul {
         list-style-type: none;
         margin: 0;
         padding: 0;
      }
      ul {
         li {
            list-style-type: none;
            padding: 0;
            background: none;
            margin: 0 0 2em 0;
            clear: left;
            li {
               margin: 0;
            }
         }
         li.days {
            fieldset {
               li {
                  margin: 0 2em 0 0;
                  display: inline-block;
                  clear: none;
                  float: none;
               }
            }
         }
         li.short {
            clear: none;
            float: left;
            margin-left: 3%;
            margin-right: 0;
            width: 47%;
         }
         li.short.clear {
            clear: both;
            float: left;
            margin-right: 3%;
            margin-left: 0;
            width: 47%;
         }
         li.extended {
            display: none;
         }
         li.check {
            clear: left;
            margin: 0.4em 0;
            input {
               clear: left;
               float: left;
               width: 15px;
               margin-top: 7px;
               margin-right: 0;
            }
            label {
               margin-left: 1.5em;
               width: auto;
            }
         }
         li.submit {
            padding-top: 0.5em;
         }
         ul.dob {
            display: table; 
            width: 100%;
            li {
               display: table-cell;
               padding-left: 2%;
            }
            li:first-child {
               padding-left: 0;
            }
            li.dob-d {
               width: 5em;
            }
            li.dob-y {
               width: 6em;
            }
         }
         label {
            display: block;
            margin: 0;
            text-align: left;
            line-height: 1.8em;
            font-weight: bold;
            .text {
               width: auto;
               display: block;
               padding: 0 30px 0 0;
            }
         }
         fieldset {
            width: 100%;
            display: block;
         }
         legend {
            width: 90%;
            display: block;
            padding: 0 30px 0 0;
            font-weight: bold;
         }
         label.valid .text,
         legend.valid,
         label.valid {
            background: transparent url(images/form-tick.png) no-repeat top right;
         }
         input,
         .contactform select,
         .contactform textarea {
            width: 100%;
         }
         li.submit input {
            width: auto;
            cursor: pointer;
         }
         .clarify {
            font-size: 80%;
         }
         .err-img {
            border: none;
         }
         .errors,
         .fieldseterrors {
            background: #fff;
            color: #CC063B;
            font-weight: bold;
         }
      }
   }
}
/* Process buttons */
form.process {
   margin: 15px 0;
}

/* Home Page forms */
#hp-forms {
   margin: 30px 0;
}
#hp-forms section {
   display: inline-block;
   width: 42%;
   vertical-align: top;
   padding: 0;
}
#hp-forms .access {
   padding-right: 4%;
}
#hp-forms .course {
   padding-left: 4%;
   border-left: 1px solid #000;
}
.hp-form {
   background: #F39120; /* Candidate */
   color:#000; /* Candidate */
   padding: 5px 3%;
}
h2.form-header,
h3.form-header {
   display: inline;
   margin: 0;
   padding: 8px 3%;
   width: auto;
   font-size: 1.2rem;
   background: #F39120; /* Candidate */
   color:#000; /* Candidate */
   border-bottom:1px solid #F39120;  /* Candidate */
   -webkit-border-top-left-radius: 5px;
   -webkit-border-top-right-radius: 5px;
   -moz-border-radius-topleft: 5px;
   -moz-border-radius-topright: 5px;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;   
}
#content .hp-form ul li {
   margin-bottom:1em;
}
#content .hp-form label {
   font-weight:bold;
}
/* filter buttons */
.courses-filter-button,
.int-access-filter-button,
#courses-filter-hide,
#int-access-filter-hide {
   margin-top:-5px;
   margin-bottom:2px;
   float:right;
}
.non-js #courses-filter-show,
.non-js #int-access-filter-show,
.non-js #courses-filter-hide,
.non-js #int-access-filter-hide,
.js .courses-filter-button.hide,
.js .int-access-filter-button.hide,
.js #courses-filter-show,
.js #int-access-filter-show {
   display:none;
}

/* Database search results styles */
#results {
   padding:10px 2%;
}
@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFDC0; }
  100% { background-color: #FFFFFF; }
}
#results:focus {
   outline:none;
    -webkit-animation: fadeIt 2s ease-in-out; 
       -moz-animation: fadeIt 2s ease-in-out; 
         -o-animation: fadeIt 2s ease-in-out; 
            animation: fadeIt 2s ease-in-out; 
}
.noanim #results:focus {
   outline:2px solid  #eee; 
}
#results .data-item {
   padding:20px 0;
   border-bottom:1px solid #ccc;
}
#results .data-item h3, #results .data-item h4{
   margin-top:0;
}
.page-template-review-internet-access #results .data-item,
.page-template-review-course #results .data-item {
   border-bottom:none;
}
#results .data-item dt{
   margin:10px 10px 0 0;
   line-height:1.3;
   float:left;
   clear:left;
}
#results .data-item dd{
   margin:10px 0 0 0;
   line-height:1.3;
   float:left;
   max-width: 45%;
}
#results p.provider,
#results p.location {
   margin:10px 0 0 0;
   line-height:1.3;
}
.not-spec {
   color:red;
}
#results .review {
   padding:1em 0;
   clear:both;
   float:none;
}
#results .search-statement {
   border-top:1px solid #ccc;
   padding-top:0.5rem;
}
#results .num-found {
   border-bottom:1px solid #ccc;
   padding-bottom:0.5rem;
}

@media screen and (max-width: 600px) {
 #hp-forms .course, #hp-forms .access  {
      width:100%;
      padding: 0 0 30px 0;
      border-left:none;
      display:block;
   } 
}

@media screen and (max-width: 400px) {
   #courses-filter-hide, #int-access-filter-hide {
       margin:5px 0;
       float: none;
   }
   #int-access-form-header, #courses-form-header {
       display:block;
       margin:5px 0;
       float: none;
   }
   
   .map-buttons button, 
   .map-buttons .button {
      display:block;
      margin:5px 0;
      font-size:1 rem;
   }
   .map-buttons button.initially-hidden, 
   .map-buttons .button.initially-hidden {
      display:none;
   }
   #results .other-detail dt,
   #results .other-detail dd {
      float:none;
      clear:both;
      max-width:100%;
   }
   #results .other-detail dd {
      margin:0;
   }
}