/* Structural stuff */
#top {
}

#banner-inner {
   width: auto;
   margin: 0 auto;
   padding: 0;
}
#banner-cookie {
   width: 96%;
   padding: 0 2%;
}
#banner-cookie p {
   font-size: 0.8rem;
}

.js #cookie-accept-nojs,
.non-js #cookie-accept-js {
   display: none;
}

#banner-wrap {
   width: 96%;
   padding: 0;
}

#logo {
   position: relative;
   top: -30px;
   width: 23vw;
   min-width: 115px;
   max-width: 345px;
   float: right;
   margin: 0 2vw;
   border: 7px solid $bri-yellow;
   padding: 4px;
   display: inline-block;
   z-index: 50;
   background-color: white;
   clear: both;
}
#logo_img {
   width: 100%;
   padding: 0;
}
#banner2 {
   display: none;
   background-color: $blue;
}
#langlink,
#searchbox {
   display: inline-block;
   margin-top: 10px;
}

.covid_event_box {
   padding: 5px;
   border: 5px solid #7f76d3;
}


#searchform {
   input {
      display: inline-block;
   }
   #s {
      width: 50%;
   }
   #searchsubmit {
      width: 5em;
   }
}

#middle {
   background-color: white;
   color: $basic-text-grey;
   border-top: 6px solid $blue;
   border-bottom: 6px solid $blue;
}

#middle-inner {
   width: 100%;
   margin: 12vw auto 8vw;
}

// front page calls-to-action
.fp_cta {
   border: 4px solid $bri-yellow !important;
   border-radius: 30px !important;
   a:link, a.wp-block-button__link {
      text-decoration: none !important;
   }
}

.wp-block-getwid-button-group {
   overflow: visible !important;
}
.wp-block-getwid-button-group .wp-block-getwid-button-group__wrapper {
   margin: 0 !important;
}

.wp-block-getwid-button-group .wp-block-button {
   padding: 0 !important;
   margin: 0 auto !important;
}

/* content eg search results display */
#content {
   width: calc(100px + 50vw);
   // max-width: 660px;
   margin: 0 auto;
   line-height: 1.5;
   text-align: left;
}
#content-inner h1,
#content-inner h2 {
   border-bottom: 4px solid $mauve;
}
#content ul {
   li {
      list-style-type: disc;
      margin-left: 20px;
   }
}
#content ol {
   li {
      list-style-type: decimal;
      margin-left: 20px;
   }
   li li {
   list-style-type: lower-roman;
   }
}

#googlemap {
   margin: 0;
   width: 100%;
   height: auto;
   min-height: 450px;
}
#data {
   margin-top: 25px;
   margin-bottom: 25px;
}

#gmap {
   width: 300px;
   height: 60px;
   background-color: #aaa;
   padding: 0;
   border: 2px solid #aaa;
   border-radius: 2px;
}
#click {
   margin: 10px;
   font-size: 2rem;
   color: #fcfcfc;
   background-color: transparent;
}
#map_embed {
   margin: 0;
   width: 100%;
   height: auto;
   min-height: 450px;
}

@media screen and (max-width: 600px) {
   #content {
      width: 90%;
   }
  #content .contact ul li.short,
  #content .contact ul li.short.clear {
    float: none;
    clear: both;
    width: 100%;
    margin: 0;
  }
}

/* footer */
#bottom {
   text-align: left;
   background-color: $blue-grey-bg;
}
#bottom-inner {
   width: calc(100px + 50vw);
   // max-width: 1000px;
   margin: 0 auto;
   padding: 10px 0;
}
#footer {
   display: table;
   width: 96%;
   padding: 0 2%;
}
#footernav {
   padding: 0;
}
#footernav-cont, #footer-logos {
   padding: 0 2% 0 0;
   margin: 0;
   display: table-cell;
   vertical-align: top;
   width: 50%;
}
#footer-logos {
   width: 45%;
   padding: 0;
}
#footer-credits {
   font-size: 0.8rem;
}
#footer-logos h2{
   font-size: 1.1rem;
}
#footernav li{
   display: inline-block;
   padding: 10px 15px 10px 0;
}
.partners {
   margin: 0;
   padding: 0;
}
.partners li {
   display: inline-block;
   margin: 5px 2px;
}

@media screen and (max-width: 700px) {
  #footer {
      display: block;
   }
   #footernav-cont, #footer-logos {
      display: block;
      width: 100%;
   }
   .map-block{
      width: 100%;
      margin-left: 0;
      float: none;
      clear: both;
   }

}

@media screen and (max-width: 600px) {
   #banner-wrap,
   #banner1,
   #banner2 {
      display: block;
      width: 100%;
   }
   #banner2 {
      text-align: left;
   }
}