#middle a:link {
   text-decoration: solid underline 2px currentcolor;
   text-underline-offset: 2px;
   border: 1px dashed transparent;
}
#middle a:link:hover {
   border: 1px dashed $bri-yellow;
   background-color: rgba(255, 187, 34, 25%);
}
#ctf a:link {
   text-decoration: solid underline 1px currentcolor;
   text-underline-offset: 1px;
   border: 1px dashed transparent;
}
#ctf a:link:hover {
   border: 1px dashed $bri-yellow;
   background-color: rgba(0, 101, 175, 25%);
}
a img {
	border: none;
}