/* Navigation area */
#nav-strip {
   position: relative;
   background: $blue;
   border-bottom: 6px solid $bri-yellow;
}
#nav-strip h2 {
   position: absolute;
   left: -9999px;
}
#nav-strip-inner {
   position: relative;
   text-align: left;
   // width: 65%;
   // max-width: 1000px;
   margin: 0 5%;
   padding: 0;
   z-index: 40;
}
#nav-strip-inner .inner{
   padding: 0 2%;
}

#shownav,
#hidenav {
   display: none;
   margin: 0;
   padding: 1em;
   box-sizing: border-box;
   width: 60%;
   max-width: 500px;
}
#shownav:link, #shownav:visited,
#hidenav:link, #hidenav:visited {
   background:#2e2e2e;
   color: #fff;
}
#shownav:hover, #shownav:active, #shownav:focus,
#hidenav:hover, #hidenav:active, #hidenav:focus {
   background: #fff;
   color: #90136f;
}
#nav {
   margin: 0;
   padding: 20px 2px;
   display: table;
}
#nav > li {
   display: table-cell;
   padding: 0;
   margin: 0;
   position: relative;
   text-align: left;
   border-left: 1px solid #eee;
   line-height: 1;
}
#nav > li:first-child {
   border-left: none;
}
#nav li a {
   display: block;
   background: transparent;
   color: white;
   text-decoration: none;
   padding: 0.6em;
   font-size: calc(1rem + 1vw);
   font-weight: bold;
}

#nav li.current-menu-item a:link,
#nav li.current-menu-item a:visited,
#nav li.current-menu-ancestor a:link,
#nav li.current-menu-ancestor a:visited {
   background: transparent;
   color: $deluge;
   outline: none;
}
#nav li.current-menu-item a:hover,
#nav li.current-menu-item a:focus,
#nav li a:hover,
#nav li a:focus,
#nav > li.hover > a:link,
#nav > li.hover > a:visited {
   background: transparent;
   color: $bri-yellow;
}
#nav ul.children,
#nav ul.sub-menu {
   position: absolute; 
   font-size: 95%;
   z-index: 50;
   padding: 0;
   margin-top: 0;
   text-align: left;
}

#nav ul { 
   position: absolute; 
   top: 4em;  
}
#nav ul li { 
   display: block;
   width: 230px;
   float: none;
   height: auto;
   padding: 0;
   margin: 0;
   border-top: 1px solid #000;
}

#nav ul a:link,
#nav ul a:visited,	 
#nav li.current-menu-item ul a:link,
#nav li.current-menu-item ul a:visited, 
#nav li.current-menu-ancestor ul a:link,
#nav li.current-menu-ancestor ul a:visited { 
   min-height: 1em;
   border: none;
   padding: 0.5em 15px;  
   margin: 0;
   background: $bri-yellow;
   color: #000;
   font-size: 1rem;
}
#nav ul ul { font-size: 1.2rem; } // sub-menus

#nav ul a:hover,
#nav ul a:active,
#nav ul a:focus,
#nav li.current-menu-item ul a:hover,
#nav li.current-menu-item ul a:active,
#nav li.current-menu-item ul a:focus,
#nav li.current-menu-ancestor ul a:hover,
#nav li.current-menu-ancestor ul a:active,
#nav li.current-menu-ancestor ul a:focus,
#nav ul .hover > a { 
   background: #000;
   color: #fff;
   /* font-weight:bold; */
}

#nav ul ul { left: 100px; top: 0; /* 6px / 12px */ }

#nav ul,
#nav :hover ul ul,
#nav .hover ul ul	{ margin-left: -9999px; }

/* #nav li:hover > ul,*/
#nav li.hover > ul,
#nav a:focus + ul,
#nav ul ul,
#nav .hover a:focus { margin-left: 0; }
.ie7 #nav .hover a:focus	{  }
#nav ul a:focus { margin-left: 9999px; }

// @media screen and (max-width: 700px) {
//    #nav {
//       display: none;
//       margin: 0;
//    }
//    #nav.active,   
//    .js #shownav.active,
//    .js #hidenav.active{
//       display: block;
//       position: relative;
//    }
//    #nav > li {
//       border: none;
//    }
//    #nav.active > li{
//       float: none;
//       clear: both;
//       width: 100%;
//       position: relative;
//       margin: 0;
//       padding: 0;
//       display: block;
//    }
//    #nav.active ul li{
//       background: none;
//    }
//    #nav.active li a:link,
//    #nav.active li a:visited {
//       position: relative;
//       background: #2e2e2e;
//       min-height: 1em;
//    }

//    #nav.active li a:link,
//    #nav.active li a:visited,
//    #nav li.current-menu-item ul a:link,
//    #nav li.current-menu-item ul a:visited, 
//    #nav li.current-menu-ancestor ul a:link,
//    #nav li.current-menu-ancestor ul a:visited, 
//    #nav.active li li a:link,
//    #nav.active li li a:visited
//     {
//       position: relative;
//       display: block;
//       padding: 8px 5%;
//       width: 90%;
//       border: 1px solid #e7e7e8;
//       color: #90136f;
//       background: #ebeced;
//       -moz-border-radius: 6px;
//       -webkit-border-radius: 6px;
//       border-radius: 6px;
//       behavior: url(/PIE.php);
//    }
//    #nav.active li a:link,
//    #nav.active li a:visited{
//       padding: 10px 2%;
//       width: 96%;
//    }
   
//    #nav.active li[aria-haspopup="true"] > a:after {
//       content: url(imagesnav-arrow-down.png);
//       position:absolute;
//       top: 0.5em;
//       right: 0.5em;
//    }
//    #nav.active li.current-menu-item[aria-haspopup="true"] > a:after,
//    #nav.active li.current-menu-ancestor[aria-haspopup="true"] > a:after {
//       content: url(images/nav-arrow-down.png);
//    }
//    #nav.active li.current-menu-item > a:link,
//    #nav.active li.current-menu-item > a:visited {
//       border: 1px solid #90136f;
//       outline: none;
//       background: #90136f;
//       color: #fff;
//       text-decoration: none;
   
//    }
//    #nav.active li li a:link,
//    #nav.active li li a:visited {
//       padding-left: 25px;
//    }
//    #nav.active li a:hover,
//    #nav.active li a:active,
//    #nav.active li a:focus,
//    #nav.active li li a:hover,
//    #nav.active li li a:active,
//    #nav.active li li a:focus {
//       border: 1px solid #90136f;
//       outline: none;
//       background: #90136f;
//       color: #fff;
//       text-decoration: none;
//    }

//    #nav li.hover >ul,
//    #nav li.hover > ul > li,
//    #nav a:active + ul,
//    #nav a:active + ul > li,
//    #nav a:focus + ul,
//    #nav a:focus + ul > li,
//    #nav .hover a:active, 
//    #nav .hover a:focus	{ 
//       margin-left: 0; 
//       position: relative;
//       width: 100%;
//       margin: 0;
//       padding: 0;
//       top: 0;
//    }
// }