a.button.show-map-google {
   padding-right:45px;
   background-image: url(images/new-window-icon.png);
   background-repeat: no-repeat;
   background-position: right center;
}

/* Home Page specials */
#hp-access-hdr, #hp-course-hdr{
   display:block;
   background:#000; 
   color:#000; /* Candidate */
   margin:0;
   padding:0;
   background-position:right;
   background-repeat:no-repeat;
}
#hp-access-hdr span, #hp-course-hdr span{
   display:block;
   background:#F39120; /* Candidate */
   padding:8px 10px;
   margin: 0 40px 0 0;
}
#hp-access-hdr{
   background-image: url(images/mouse-icon-40.png);
}
#hp-course-hdr{
   background-image: url(images/course-icon-40.png);
}