html {
   font-size: 62.5%;
}
h1, h2, h3, h4, h5, h6, p, li {
   font-family: $font-stack;
   font-weight: 600;
   color: $basic-text-grey;
   line-height: 125%;
   // clear: both;
}
h1 { font-size: calc(2rem + 1vw); }
h2 { font-size: calc(1.2rem + 1vw); }
h3 { font-size: calc(1.8rem + 0.2vw); }
h4 { font-size: calc(1.6rem + 0.2vw); }

p, li {
   font-size: calc(1.4rem + 0.2vw);
   font-weight: 400;
   margin-bottom: 1.2rem;
}
p { line-height: 137.5%; }
li { line-height: 110%; }

dt { font-weight: 600; }
caption, figcaption { font-size: calc(1.2rem + 0.2vw); font-weight: 400; }

#list .ui-accordion-content {
   font-family: $font-stack;
}

#content-inner h1,
#content-inner h2 {
   margin-top: 80px;
   padding: 6px 2px;
   border-bottom: 4px solid $bri-yellow;
}

blockquote {
	quotes: none;
   margin: 1em 0;
   padding: 2px 10px 2px 25px;
   border-left: 3px solid $basic-text-grey;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* =============================================================================
   Images
   ========================================================================== */
.alignleft, .float-left { float: left; margin: 2px 10px 0 0; }
.alignright, .float-right { float: right; margin: 2px 0 0 10px; }
.alignnone { display: block; clear: both; }
.aligncenter {	clear: both; display: block;	margin: 5px auto; }
img {
   margin: 0;
   height: auto;
   max-width: 100%;
}