// $font-stack: "Lucida Sans", Helvetica, Arial, sans-serif;
$font-stack: "Merriweather", "Georgia", "serif";

$blue: #0066af;
$mauve: #7f76d3; // "moody blue" ... #7e75ae is from the logo
$deluge: #7563a8;
$basic-text-grey: #292939;
$blue-grey-bg: #eee;

$gwy-orange: #f39120; // "carrot orange" = #ed9121
$gwy-darkbrown: #261414; // "gondola"

$bri-yellow: #ffbb22;
$ia-green: #0f9d58;
// $di-blue: #0288d1;
$di-blue: #2465ff; // (from rgb.to)
$bs-pink: #880e4f;
$bc-orange: #f57c00;