// stuff that needed to be taken out of Graham's code but kept just in case

#map {
   display: block;
   width: auto;
   border: 1px solid #777;
   border-radius: 4px;
   padding: 4px;
   overflow: auto;
   margin-bottom: 20px;
}
#map figure {
   margin: 0;
}
#map h4 {
   margin-bottom: 4px;
}
#map figcaption {
   color: white;
   font-weight: 500;
   padding: 4px;
}

.map-block {
   position: relative;
   width: 50%;
   margin-left: 5%;
   float: right;
   outline: 1px solid #000;
   overflow: hidden;
}
.page-template-review-internet-access #results .map-block,
.page-template-review-course #results .map-block {
   margin-left: 0;
   float: none;
   clear: both;
}
.initially-hidden {
   display: none;
}

.map {
   height: 250px;
}
.non-js .show-map-here,
.non-js .initially-hidden {
   display: none;
}